.parent{
    width: 250px;
    margin: auto;
    background-color: rgb(205, 248, 255);
    position: relative;
}

.profile{
    width: 100%;
}

.logo{
    width: 50px;
    position: absolute;
    top: 30px;
    right: 0px;
    opacity: 0.5;
}

.twitter{
    position: absolute;
    width: 50px;
    top:30px;
    left: 10px;
}

p{
    padding: 10px;
}